<section id="homesection">
    <div class="content">
        <h1>Get The Best Free Online Courses</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla<br>
            dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="signupdiv">
        <form id="signupform">
            <input id="email" type="email" placeholder="E-mail">
            <input id="password" type="password" class="submit" placeholder="Password">
            <button class="btn">Sign Up Now</button>
        </form>
    </div>
</section>
