@import '../../../../../assets/scss/theme/variables';
@import '../../../../../assets/scss/theme/typography';

#homesection{
    width: 100%;
    height: 125vh;
    background-image: linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.3)) , url('../../../../../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    p {
        margin-top: 2vh;
    }

    .content{
        padding-top: 47vh;
        color: $mainfontcolor;
        text-align: center;
        h1{
            font-weight: bold;
            font-size: 8vh;
        }  
    }
    #signupform{
        margin-top: 15vh;
        input{
            margin-right: 3vh;
        }
    }
    .signupdiv{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    @media screen and (max-width: 991.98px) {
        .signupdiv {
            flex-direction: column;
        }
    
        #email, #password, .btn {
            margin-right: 0; 
            margin-bottom: 10px; 
        }
    }


}